body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.container {
  width: 100%;
}

.col-full{
  height: 850px;
}

.box-full{
  height: 100%
}

.box-tab-full{
  height: 100%
}

.box-tab-nav-full{
  height: 90%
}

.box {
  box-shadow: 0 1px 1px rgb(0, 0, 0) !important;
}

.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgb(0, 0, 0) !important;
    border-radius: 3px;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.ui-grid-filter-container {
    padding: 4px 0;
    position: relative;
}

.ui-grid-header-cell {
  background-color: #777;
  color: white;
  padding: 5px;
  font-weight: 400;
}

.ui-grid-cell-contents {
    font-weight: lighter;
}

.ui-grid-menu .ui-grid-menu-inner ul li button {
  background: #3c8dbc;
  color: white;
  border: 0px solid white;
}

.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item-active {
  box-shadow: none;
  background-color: #386884;
}

.ui-grid-menu .ui-grid-menu-inner ul li button:hover, .ui-grid-menu .ui-grid-menu-inner ul li button:focus {
  box-shadow: none;
  background-color: #386884;
}

.ui-grid {
  height: 1px !important;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #d4d4d4;
}

.ui-grid-row .ui-grid-cell {
    height: 40px;
    vertical-align: middle;
}

.ui-grid-render-container {
    border: 1px solid rgba(63, 149, 199, 0.61);
}

input[type="text"].ui-grid-filter-input {
    color: black;
    padding: 2px;
    border-radius: 2px;
}

.text-center {
    text-align: center;
    padding: 0 0 30px 0;
}

@media screen and (min-width: 768px)
.container .jumbotron, .container-fluid .jumbotron {
    padding: 10px;
    margin: 0;
}

.filters{
    border: 1px solid #ccc;
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
}
