
<div class="btn-group pull-right">
  <a href="javascript:void(0)" class="btn"></a>
  <a href="bootstrap-elements.html" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown"><i class="material-icons">more_vert</i></a>
  <ul class="dropdown-menu">
    <li><a href="javascript:void(0)">Guardar cambios</a></li>
    <li><a href="javascript:void(0)">Eliminar reporte</a></li>
    <li><a href="javascript:void(0)">Duplicar reporte</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0)">Ir a datos de registro</a></li>
    <li><a href="javascript:void(0)">Ir a fuente de datos</a></li>
    <li><a href="javascript:void(0)">Ir a definicion de condiciones</a></li>
    <li><a href="javascript:void(0)">Ir a selección de elementos</a></li>
    <li><a href="javascript:void(0)">Ir a definición de operaciones</a></li>
  </ul>
</div>


<div class="content" style="padding: 60px;">
  <h2 class="header">Datos de registro</h1>
  <br><br>

  <div class="form-group label-floating">
    <label class="control-label">Identificador</label>
    <input type="text" class="form-control" ng-model="data.reportid" readonly>
    <span class="help-block">Identificador unico del reporte, esto es un dato tecnico</span>
  </div>

  <div class="form-group label-floating">
    <label class="control-label">Nombre tecnico</label>
    <input type="text" class="form-control" ng-model="data.tecname">
    <span class="help-block">Ingrese un nombre tecnico por el cual un desarrollador lo podra identificar</span>
  </div>

  <div class="form-group label-floating">
    <label class="control-label">Titulo</label>
    <input type="text" class="form-control" ng-model="data.title">
    <span class="help-block">Este sera el titulo del reporte cuando se visualice</span>
  </div>

  <div class="form-group label-floating">
    <label class="control-label">Descripción</label>
    <textarea class="form-control" rows="3" id="textArea" ng-model="data.description"></textarea>
    <span class="help-block">Esta descripción sirve para identificar la finalidad del reporte</span>
  </div>

</div>
<a href ng-click="goTo(0)" class="btn btn-danger"><i class="material-icons">arrow_back</i> Atrás</a>
<a href ng-click="goTo(2)" class="btn btn-primary pull-right">Fuente de datos <i class="material-icons">arrow_forward</i></a>
