
<div class="container-fluid">
  <div class="box box-default">
    <div class="box-body">
      <div class="row">
        <div class="col-md-3">
          <img id="logo" src="{{logo}}">
        </div>
        <div class="col-md-6 text-center">
          <h2 id="title">{{title}}</h2>
        </div>
      </div>
    </div>
  </div><!-- /.box-body -->
</div>

<div class="container-fluid" ng-show="viewFilter">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Filtros de selección</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div id="filters" class="box-body"></div>
        <div class="box-footer">
          <form action="#" method="post">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-md btn-flat pull-right" ng-click="getDataForms()">Consultar</button>
              </span>
            </div>
          </form>
        </div>
      </div><!-- /.box -->

    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" ng-click="toggleFiltering()"><i class="fa fa-filter"></i></button>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body" ui-i18n="{{lang}}">
          <div id="grid"  style="height:{{tam}}px;" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-grouping ui-grid-exporter></div>
        </div>
      </div>
    </div>
  </div>
</div>
